@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900");

/* Reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

footer, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ul {
	list-style: none;
}

/* Containers */
.container {
	margin-left: auto;
	margin-right: auto;
}

/* Grid */
.row {
	border-bottom: solid 1px transparent;
	box-sizing: border-box;
}

.row > * {
	float: left;
	box-sizing: border-box;
}

.row:after, .row:before {
	content: '';
	display: block;
	clear: both;
	height: 0;
}

.\31 2u, .\31 2u\24 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

.\36 u, .\36 u\24 {
	width: 50%;
	clear: none;
	margin-left: 0;
}

.\34 u, .\34 u\24 {
	width: 33.3333333333%;
	clear: none;
	margin-left: 0;
}

/* Basic */
@-ms-viewport {
	width: device-width;
}

body, input, textarea, select {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #919499;
}

body.is-loading * {
	transition: none !important;
	animation: none !important;
}

.siteTitle {
	font-weight: 900;
	text-transform: uppercase;
	color: #fff;
}

.siteSubtitle {
	color: #eee;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

h3 {
	font-weight: 700;
	color: #484d55;
}

h3 a {
	color: inherit;
	text-decoration: none;
}

a {
	transition: color .25s ease-in-out;
	color: #717479;
	text-decoration: none;
}

p, ul, form {
	margin-bottom: 2em;
}

/* Form */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form select,
form textarea {
	transition: all .25s ease-in-out;
	display: block;
	border: 0;
	background: #eee;
	box-shadow: inset 0px 0px 1px 0px #a0a1a7;
	border-radius: 0.35em;
	width: 100%;
	padding: 0.75em 1em 0.75em 1em;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
	background: #f8f8f8;
}

form input[type="text"],
form input[type="email"]
input[type="password"] {
	line-height: 1em;
}

form textarea {
	min-height: 10em;
}

form .formerize-placeholder {
	color: #555 !important;
	font-style: italic;
}

/* Section */
section {
	margin-bottom: 3em;
}

section > :last-child,
section:last-child {
	margin-bottom: 0;
}

/* Image */
.image img {
	display: block;
	width: 100%;
}

.image {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

/* Button */
.button {
	transition: all .25s ease-in-out;
	display: inline-block;
	background: #444;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.25em;
	text-decoration: none;
	border-radius: 0.35em;
	border: 0;
	outline: 0;
	cursor: pointer;
	background: #e97770 url("../images/overlay.png");
	color: #fff;
}

.button:hover {
	background-color: #f98780;
}

.button:active {
	background-color: #d96760;
}
			
/* Wrappers */
.wrapper {
	position: relative;
}

.wrapper .title {
	position: absolute;
	top: 0;
	left: 50%;
	text-align: center;
	text-transform: uppercase;
	display: block;
	font-weight: 700;
	letter-spacing: 0.25em;
}

.wrapper.style3 {
	background: #f3f3f3 url("../images/overlay.png");
}

.wrapper.style3 .title {
	background: #f3f3f3 url("../images/overlay.png");
	color: #484d55;
}

.wrapper.style3 .image {
	border: solid 10px #fff;
}

#header-wrapper {
	background: url("../images/banner.jpg") center center;
	background-size: cover;
}

#footer-wrapper {
	background: #282b34 url("../images/overlay.png");
	color: #eee;
	color: rgba(255, 255, 255, 0.5);
}

#footer-wrapper a {
	color: #fff;
}

#footer-wrapper form input[type="text"],
#footer-wrapper form textarea {
	background: #ccc;
	box-shadow: none;
}

#footer-wrapper form input[type="text"]:focus,
#footer-wrapper form textarea:focus {
	background: #fff;
}

#footer-wrapper .button {
	color: #fff;
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
}

#footer-wrapper .button:hover {
	color: #fff;
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.65);
}

#footer-wrapper .button:active {
	box-shadow: inset 0px 0px 2px 0px rgba(255, 255, 255, 0.75);
}

#footer-wrapper .title {
	background: #282b34 url("../images/overlay.png");
	color: #eee;
}

.footerInfo {
	text-decoration: underline;
}

.footerInfo:hover {
	text-decoration: none;
}

/* Highlights */
#highlights .highlight {
	text-align: center;
}

#highlights .highlight h3 {
	color: #e97770;
}

/* Copyright */
#copyright {
	text-align: center;
}

#copyright ul {
	display: inline-block;
	border-radius: 0.35em;
	box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.05);
	color: rgba(255, 255, 255, 0.25);
}

#copyright a {
	color: inherit;
}

#copyright a:hover {
	color: #fff;
}